<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>The Most Worshipful Prince Hall Grand Lodge of New Jersey</title>

  
  <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/fc-webicons.css">
   <link type="text/css" rel="stylesheet" href="templates/standard/search.css"> 

  <script src="js/vendor/custom.modernizr.js"></script>
 
  <!-- suggest script -->
	<style type="text/css">@import url("include/js_suggest/SuggestFramework.css");</style>
	<script type="text/javascript" src="include/js_suggest/SuggestFramework.js"></script>
	<script type="text/javascript">window.onload = initializeSuggestFramework;</script>
  <!-- /suggest script -->
</head>
<body>
<?php 
require ('menu.php');
?>
 
<!-- Main Grid Section -->
 
<div class="row" style="padding-top:10px; margin-bottom:8%;">
<p align="center"><img src="images/other_page_header.png">
<h2 style="color:#FFF; margin-top:-20%; margin-left:10%">Search MWPHGLNJ Website</h2>
</p>
</div>
 
 <div class="row">
 	<div class="large-12 columns" style="background-color:#FFF; border-top-right-radius:15px; border-top-left-radius:15px;">